# Binary & object files
ini*
*.o

# Temporary files
*.*~
*.swp

# Doxydoc
doxydoc
documentation.*
texput.log

# Hidden files
.*
!.gitignore
!.gitattributes

# ctags
tags

# packed file
xmilko01.tar.gz

# project files
*.kdev4

# old and state files
*.old
*.sta
