# Binary & object files
ini*
*.o

# Temporary files
*.*~
*.swp

# Doxydoc
doxydoc
documentation.dvi
documentation.aux
documentation.toc
documentation.log
documentation.out
documentation.pdf
texput.log

# Hidden files
.*
!.gitignore
!.gitattributes

# ctags
tags

# packed file
xmilko01.tar.gz

# project files
*.kdev4

# old and state files
*.old
*.sta
