# Binary & object files
ini*
*.o

# Temporary files
*.*~
*.swp
doc/img/*-eps-converted-to.pdf

# Doxydoc
doxydoc
dokumentace.dvi
dokumentace.aux
dokumentace.toc
dokumentace.log
dokumentace.out
dokumentace.pdf
texput.log

# Hidden files
.*
!.gitignore
!.gitattributes

# ctags
tags

# packed file
xmilko01.tar.gz

# project files
*.kdev4

# old and state files
*.old
*.sta
